.breadcrumbs {
  padding-bottom: 32px;
  padding-top: 32px;
  @media(max-width: 991px){
    padding-top: 22px;
  }
}
.aioseo-breadcrumbs {
  font-size: 12px;
  line-height: normal;
  color: var(--gray-400);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.aioseo-breadcrumbs a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #6DB8E0;
}

.aioseo-breadcrumbs a:hover {
  color: #000;
}