// modal
.modal {
  width: 780px;
  height: fit-content;
  background: var(--White, #FFF);
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);  
  padding: 24px;
  overflow: visible;

  .btn-close {
    background: none;
    opacity: 1;
  }
}

.modalQuizCheckboxItem {
  input {
    &:checked {
      &+label {
        .rect {
          position: relative;
          &::before {
            content: '';
            display: block;
            width: 15px;
            height: 12px;
            background: url('@img/icons/check-blue.svg') no-repeat center center / 14px;
            position: absolute;
            left: 3px;
            top: 0px;
            z-index: 1;
          }
          &::after {
            content: '';
            display: block;
            width: 6px;
            height: 8px;
            background-color: #fff;
            position: absolute;
            top: -3px;
            right: -3px;
          }
        }
      }
    }
    &+label {
      display: flex;
      align-items: center;
      column-gap: 16px;
      @media(max-width: 991px){
        align-items: flex-start;
      }
      .rect {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        border: 2px solid var(--gray-700);
        border-radius: 3px;
      }
    }
  }
}

.modalQuizBlock {
  display: none;
}