.result {
  &Card {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    justify-content: flex-start;
    min-height: 130px !important;


    &Title {
      // height: 74px;
      overflow: hidden;
      -webkit-line-clamp: 3;
      display: -webkit-box !important;
      /* Включаем флексбоксы */
      -webkit-box-orient: vertical;
      /* Вертикальная ориентация */
    }
  }
}
