.wins {
  padding-top: 60px;
  @media(max-width: 991px){
    padding-top: 40px;
  }
}
.css-slider {
  width: 100%;
  overflow: hidden; /* Скрывает выходящие за пределы слайды */
  position: relative;

  background-color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
}

.css-slider-track {
  display: flex;
  animation: scroll-left 15s linear infinite; /* Анимация: имя, длительность, тип, повтор */
  /* Для прокрутки вправо: animation: scroll-right 15s linear infinite; */
  &.css-slider-track-right {
    animation: scroll-right 15s linear infinite; 
  }
}

.css-slider-slide {
  flex-shrink: 0; /* Важно, чтобы слайды не сжимались */
  width: auto; /* Примерно 5 слайдов видно */
  height: 80px; /* Высота слайда */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* Отступ слева/справа внутри слайда */
  box-sizing: border-box;
  filter: grayscale(1);
  @media(max-width: 991px){
    height: 40px;
  }
}

.css-slider-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

@keyframes scroll-left {
  0% {
      transform: translateX(0); /* Начальная позиция */
  }
  100% {
      transform: translateX(-50%); /* Сдвиг на половину ширины контейнера (так как мы дублировали слайды) */
  }
}

/* Если нужно листать вправо */
@keyframes scroll-right {
  0% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(0);
  }
}

/* Адаптивность */
@media (max-width: 768px) {
  .css-slider-slide {
      width: 33.33%; /* 3 слайда видно */
  }
}
@media (max-width: 480px) {
  .css-slider-slide {
      width: 33%; /* 2 слайда видно */
  }
}