// Specifications
* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--gray-900);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 991px) {
    font-size: 16px;
    line-height: 24px;
  }
}

html {
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden
}

body.modal-open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media(max-width: 1600px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media(max-width: 991px) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.sect {
  &.pb-0 {
    padding-bottom: 0;
  }

  &.pt-0 {
    padding-top: 0;
  }
}

.formInput {
  height: 40px;
  background-color: #ffffff;
  width: 100%;
  padding-left: 16px;
  font-size: 16px;

  @media(max-width: 1199px) {
    padding-left: 10px;
  }

  &::placeholder {
    color: #b0b0b0;
    font-size: 16px;
  }
}

.w-fit {
  width: fit-content;
}

.w-lg-100 {
  @media(max-width: 991px) {
    width: 100%;
  }
}

.sectHead {
  margin-bottom: 30px;

  @media (max-width: 991px) {
    margin-bottom: 24px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-color: #fff;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  // margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 12px;
  }
}


.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}


.container-fluid {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family);
  color: var(--main-color);
  font-weight: $medium;
}

h1,
.h1 {
  font-size: 36px;
  line-height: 110%;

  @media(max-width: 1199px) {
    font-size: 30px;
  }
}

h2,
.h2 {
  font-size: 30px;

  @media(max-width: 991px) {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-size: 16px;
  line-height: 130%;

  @media (max-width: 991px) {
    font-size: 15px;
  }

  &.h3--lg-24 {
    @media(max-width: 991px) {
      font-size: 24px;
    }
  }

  &.fz-24 {
    font-size: 24px;
    line-height: 32px;
  }
}
h4,.h4 {
  font-size: 20px;
  line-height: 30px;
  &.fz-20-sm-16 {
    @media(max-width: 991px){
      font-size: 18px;
      line-height: 130%;
    }
  }
}

.underline {
  text-decoration: underline;
}

.text--green {
  color: #BCD09D;
}

.text--gray-400 {
  color: var(--gray-400);
}

.text--gray-500 {
  color: var(--gray-500);
}

.text--gray-600 {
  color: var(--gray-600);
}

.text--gray-700 {
  color: var(--gray-700);
}
.text--gray-800 {
  color: var(--gray-800);
}
.text--gray-900 {
  color: var(--gray-900);
}
.text--blue {
  color: var(--blue);
}
a.text--blue {
  &:hover {
    color: var(--text--gray-900);
  }
}

.bg--gray-100 {
  background-color: var(--gray-100);
}
.bg--white {
  background-color: #fff!important;
  &.bg--xl-gray-50 {
    @media(max-width: 1199px){
      background-color: var(--gray-50)!important;
    }
  }
}

a.text--gray-400 {
  &:hover {
    color: var(--text--gray-500);
  }
}


@-webkit-keyframes shows {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shows {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.pr-3 {
  padding-right: 30px;

  @media(max-width: 991px) {
    padding-right: 20px;
  }

  &.pr-md-0 {
    @media(max-width: 767px) {
      padding-right: 0;
    }
  }
}
.pl-12 {
  padding-left: 12px;
}
.pl-3 {
  padding-left: 30px;

  @media(max-width: 991px) {
    padding-left: 20px;
  }

  &.left-line-vertical {
    position: relative;

    &::before {
      position: absolute;
      left: -12px;
      top: 0;
      content: '';
      height: 100%;
      width: 1px;
      background-color: var(--gray-300);

      @media(max-width: 767px) {
        display: none;
      }
    }
  }

  &.pl-md-0 {
    @media(max-width: 767px) {
      padding-left: 0;
    }
  }
}

.content {
  a {
    display: inline;
    text-decoration: underline;
    color: var(--blue);
    text-underline-offset: 4px;
    word-break: break-all;

    &:hover {
      color: var(--gray-700);
    }
  }
  &>p {
    margin-bottom: 18px;
    line-height: 130%;
    color: var(--gray-700);

    a {
      display: inline;
      text-decoration: underline;
      color: var(--blue);
      text-underline-offset: 4px;
      word-break: break-all;

      &:hover {
        color: var(--gray-700);
      }
    }
  }

  &>a {
    display: inline;
    border-bottom: 1px solid #000;
  }

  &.fz-18 {
    &>p {
      line-height: 28px;
    }
  }
  &.fz-18-sm-16 {
    &>p {
      @media(max-width: 991px){
        line-height: 140%;
      }
    }
  }

  h2 {
    margin-bottom: 32px;
    margin-top: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 32px;
    margin-top: 32px;
    @media(max-width: 991px){
      margin-bottom: 24px;
      margin-top: 24px;
    }
  }

  ul {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 18px;
    margin-bottom: 18px;
    list-style-type: none;
    color: var(--gray-700);
    @media(max-width: 991px){
      padding-left: 16px;
      padding-right: 16px;
    }

    li {
      column-gap: 16px;
      position: relative;
      padding-left: 32px;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
      @media(max-width: 991px){
        padding-left: 26px;
      }

      &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        background-color: #6DB8E0;
        position: absolute;
        top: 9px;
        left: 0;
        @media(max-width: 991px){
          width: 10px;
          height: 10px;
          top: 7px;
        }
      }
    }
  }

  ol {
    counter-reset: my-counter;
    color: var(--gray-700);
    margin-top: 18px;
    margin-bottom: 18px;
    padding-left: 16px;

    li {
      counter-increment: my-counter;
      column-gap: 16px;
      position: relative;
      padding-left: 40px;

      &:not(:last-child) {
        margin-bottom: 18px;
      }

      &::before {
        content: counter(my-counter);
        display: block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        background-color: #6DB8E0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 600;
        position: absolute;
        left: 0;
        font-size: 16px;
      }

      a {
        display: inline;
        text-decoration: underline;
        color: var(--blue);
        text-underline-offset: 2px;
        word-break: break-all;

        &:hover {
          color: var(--gray-700);
        }
      }

      blockquote {
        padding-left: 32px;
        border-left: 3px solid var(--blue);
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 14px;
        margin-top: 14px;
        @media(max-width: 991px){
          padding-left: 16px;
        }
      }
    }
  }

  &>img {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.rate-person {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.rate-person-wrap {
  filter: grayscale(1);

  .rate-person:not(:last-child) {
    margin-right: -12px;
  }
}

.navArrow {
  font-size: 18px;
  line-height: 28px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--gray-500);

  &.swiper-button-disabled {
    opacity: .4;
    pointer-events: none;
  }

  &Prev {
    background-image: url('@img/icons/arrow-prev.svg');
  }

  &Next {
    background-image: url('@img/icons/arrow-next.svg');
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 0;
  opacity: 1;
  background-color: var(--gray-300);
  transition: background-color .2s linear;

  &:hover {
    background-color: var(--gray-900);
  }

  &-active {
    background-color: var(--gray-900);
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 12px;
  margin-right: 12px;
}
.border-t-gray-200 {
  border-top: 1px solid var(--gray-200);
}
.border-t-gray-300 {
  border-top: 1px solid var(--gray-300);
}
.border-t-gray-500 {
  border-top: 1px solid var(--gray-500);
}

.border-b-blue {
  border-bottom: 1px solid #6DB8E0;
}

.border-b-gray-200 {
  border-bottom: 1px solid var(--gray-200);
}

.border-b-gray-300 {
  border-bottom: 1px solid var(--gray-300);
}

.border-b-gray-500 {
  border-bottom: 1px solid var(--gray-500);
}
.border-md-b-gray-blue {
  @media(max-width: 767px){
    border-bottom: 1px solid var(--blue);
  }
}
.border-right-lg-gray {
  @media(max-width: 991px){
    border-right: 1px solid var(--gray-300);
  }
}
.border-t-sm-none {
  @media(max-width: 575px){
    border-top: none;
  }
}
.pr-lg-0 {
  @media(max-width: 991px){
    padding-right: 0!important;
  }
}
.border-lg-0 {
  @media(max-width: 991px){
    border-left: none!important;
  }
}
.pr-10 {
  padding-right: 10px;
}
.pr-12 {
  padding-right: 12px;
}
.fz-12 {
  font-size: 12px;
  line-height: 130%;
}

.fz-14 {
  font-size: 14px;
  line-height: 120%;
}

.fz-18 {
  font-size: 18px;
  line-height: 28px;

  &.fz-18-sm-16 {
    @media(max-width: 991px) {
      font-size: 16px;
      line-height: 140%;
    }
  }
}

.fz-sm-14 {
  @media(max-width: 575px) {
    font-size: 14px;
    line-height: 20px;
  }
}
.text-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  &:hover {
    text-decoration: underline;
  }
}
.text-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  transition: color .2s linear, text-decoration-color .2s linear;
  width: fit-content;

  &--blue {
    text-decoration-color: #6DB8E0;
    color: var(--blue);

    &:hover {
      color: var(--main-color);
      text-decoration-color: var(--main-color);
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.socials {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid var(--gray-500);
  flex-shrink: 0;

  @media(max-width: 991px) {
    padding-left: 20px;
    margin-left: 20px;
    border-right: none;
    border-left: 1px solid var(--gray-500);
  }

  @media(max-width: 575px) {
    margin-left: 14px;
    padding-left: 14px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  a {
    transition: transform .2s linear;

    &:hover {
      transform: scale(1.1);
    }
  }
  &-26 {
    img {
      width: 26px;
    }
  }
}

.list {
  li {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 3px;

    &::before {
      content: '';
      width: 4px;
      height: 4px;
      display: block;
      background-color: #6DB8E0;
      flex-shrink: 0;
    }
  }

  &--green {
    li {
      &::before {
        background-color: #BCD09D;
      }
    }
  }

  &.fz-18 {
    li {
      column-gap: 16px;

      &::before {
        width: 10px;
        height: 10px;
      }
    }
  }
  &--lg {
    
    li {
      column-gap: 12px;
      &::before {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.hover-blue {
  transition: color .2s linear;
  width: fit-content;

  &:hover {
    color: var(--blue);
  }
}

.call-me {
  padding-top: 40px;
  padding-bottom: 40px;

  @media(max-width: 991px) {
    padding-bottom: 20px;
  }

  .h2 {
    @media(max-width: 991px) {
      font-size: 24px;
    }
  }
}

.max-w-600 {
  max-width: 600px;
}

.hashtag {
  padding-left: 18px;
  background: url('@img/icons/tag.svg') no-repeat left center / 18px;
}

.articleTime {
  display: flex;
  align-items: center;
  column-gap: 16px;

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background: url('@img/icons/time.svg') no-repeat center center / 16px;
  }
}
.card-shadow {
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.25);
  p {
    margin-bottom: 12px;
  }
  a {
    text-decoration: none;
  }
}
.error-sect {
  .sep {
    width: 1px;
    height: 28px;
    background-color: var(--gray-500);
    margin-left: 30px;
    margin-right: 30px;
    @media(max-width: 767px){
      width: 100%;
      height: 1px;
      background-color: var(--gray-300);
    }
  }
}
.socials--sm-pr-mr-0 {
  @media(max-width: 575px){
    padding-right: 0;
    margin-right: 0;
  }
}